@inject LocalUserService UserService
@inject NavigationManager Navigation

@if (UserService.IsUserLoggedIn)
{
    @ChildContent
}
else
{
    <p>请先登录...</p>
}

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    protected override void OnInitialized()
    {
        if (!UserService.IsUserLoggedIn)
            Navigation.NavigateTo("/login");
    }
}