@inject LocalUserService UserService
@inject NavigationManager Navigation

@if (isLoggedIn)
{
    @ChildContent
}
else
{
    <p>请先登录...</p>
}

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    private bool isLoggedIn;

    protected override async Task OnInitializedAsync()
    {
        isLoggedIn = await UserService.IsUserLoggedInAsync();
        if (!isLoggedIn)
            Navigation.NavigateTo("/login");
        StateHasChanged();
    }
}