@inject LocalUserService UserService
@inject NavigationManager Navigation
@inject AppStateService AppState
@implements IDisposable
@rendermode InteractiveServer

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">LollyBlazor</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
    @if (UserService.IsUserLoggedIn)
    {
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="words-unit" Match="NavLinkMatch.All">
                <span class="fa fa-bus" aria-hidden="true"></span> Words in Unit
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="phrases-unit" Match="NavLinkMatch.All">
                <span class="fa fa-train" aria-hidden="true"></span> Phrases in Unit
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="words-textbook" Match="NavLinkMatch.All">
                <span class="fa fa-car" aria-hidden="true"></span> Words in Textbook
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="phrases-textbook" Match="NavLinkMatch.All">
                <span class="fa fa-taxi" aria-hidden="true"></span> Phrases in Textbook
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="words-lang" Match="NavLinkMatch.All">
                <span class="fa fa-plane" aria-hidden="true"></span> Words in Language
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="phrases-lang" Match="NavLinkMatch.All">
                <span class="fa fa-rocket" aria-hidden="true"></span> Phrases in Language
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="patterns" Match="NavLinkMatch.All">
                <span class="fa fa-motorcycle" aria-hidden="true"></span> Patterns in Language
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="settings" Match="NavLinkMatch.All">
                <span class="fa fa-gear" aria-hidden="true"></span> Settings
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <button class="nav-link btn btn-link" @onclick="Logout">
                <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
            </button>
        </div>
    }
    else
    {
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="login">
                <span class="oi oi-account-login" aria-hidden="true"></span> Login
            </NavLink>
        </div>
    }
    </nav>
</div>


@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    protected override void OnInitialized()
    {
        // 订阅状态变化
        AppState.OnChange += StateHasChanged;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // 执行所有挂起的存储操作
            await AppState.FlushPendingActionsAsync();
        }
    }   

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async void Logout()
    {
        await UserService.LogoutAsync();
        await AppState.FlushPendingActionsAsync();
        Navigation.NavigateTo("/login", forceLoad: true);
    }

    public void Dispose()
    {
        // 取消订阅
        AppState.OnChange -= StateHasChanged;
    }
}