<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Lolly.Properties.OldSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="Lolly.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Lolly.Properties.OldSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="Lolly.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="Lolly.Properties.OldSettings.LollyConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\zw\programs\Lolly\Lolly.mdb" providerName="System.Data.OleDb"/>
    <add name="Lolly.Properties.Settings.LollySQLConnectionString" connectionString="Data Source=TSOL415636\SQL2012;Initial Catalog=LollySQL;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TSOL415636\SQL2012;initial catalog=LollySQL;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <applicationSettings>
    <Lolly.Properties.OldSettings>
      <setting name="XmlNotepadExe" serializeAs="String">
        <value>C:\Program Files\XML Notepad 2007\XmlNotepad.exe</value>
      </setting>
      <setting name="AppDataFolder" serializeAs="String">
        <value>C:\zw\programs\Lolly</value>
      </setting>
      <setting name="EBWinExe" serializeAs="String">
        <value>C:\Program Files\EBWin\EBWin.exe</value>
      </setting>
      <setting name="LingoesClassName" serializeAs="String">
        <value>Afx:400000:0</value>
      </setting>
      <setting name="LingoesWindowName" serializeAs="String">
        <value>Lingoes 灵格斯</value>
      </setting>
    </Lolly.Properties.OldSettings>
    <Lolly.Properties.Settings>
      <setting name="XmlNotepadExe" serializeAs="String">
        <value>C:\Program Files\XML Notepad 2007\XmlNotepad.exe</value>
      </setting>
      <setting name="AppDataFolder" serializeAs="String">
        <value>E:\Learning\Lolly</value>
      </setting>
      <setting name="EBWinExe" serializeAs="String">
        <value>C:\Program Files\EBWin\EBWin.exe</value>
      </setting>
      <setting name="LingoesClassName" serializeAs="String">
        <value>Afx:400000:0</value>
      </setting>
      <setting name="LingoesWindowName" serializeAs="String">
        <value>Lingoes 灵格斯</value>
      </setting>
    </Lolly.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <Lolly.Properties.OldSettings>
      <setting name="LangID" serializeAs="String">
        <value>3</value>
      </setting>
    </Lolly.Properties.OldSettings>
    <Lolly.Properties.Settings>
      <setting name="LangID" serializeAs="String">
        <value>3</value>
      </setting>
    </Lolly.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
  </entityFramework>
</configuration>
