<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LollyBase.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    
  </configSections>
  <applicationSettings>
    <LollyBase.Properties.Settings>
      <setting name="LingoesClassName" serializeAs="String">
        <value>Afx:00007FF6C4800000:0</value>
      </setting>
      <setting name="LingoesWindowName" serializeAs="String">
        <value>Lingoes 灵格斯</value>
      </setting>
      <setting name="FrhelperClassName" serializeAs="String">
        <value>TFormMainEudic</value>
      </setting>
      <setting name="LogFolder" serializeAs="String">
        <value>E:\Education\Lolly\log</value>
      </setting>
      <setting name="DBPath" serializeAs="String">
        <value>C:\zw\backup\Lolly.db</value>
      </setting>
    </LollyBase.Properties.Settings>
  </applicationSettings>
</configuration>